@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root{
/*Primary */
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
/*Neutral*/
--DarkGrayishRed: hsl(0, 6%, 24%);
/* Gradients*/
}
/*
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

/* hero*/
.hero-container{
    min-height: 100vh;
    display: flex; 
    background-position: right ;
	display: flex;
	height: 100vh; 
}

.header-text{
 display: grid;
grid-template-rows: 1fr 5fr 3fr 1fr;
justify-content: center;
  margin: 4rem 6rem;
}
.header-text h1{
    align-self: end;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.header-title{
font-weight: 300;
 color: var(--DesaturatedRed);
  }

.header-title2{
      color: var(--DarkGrayishRed);
    letter-spacing: 1rem;
}

.header-info{
    color: var(--DesaturatedRed);
    line-height: 1.7rem;
    margin-top: 1.5rem;
    width: 70%;
}

/*header imagen */
.header-imagen{
    background: url("../images/hero-desktop.jpg")center/cover fixed no-repeat;
    min-height: 100vh;
   background-color: black    ;
  
}
 

 
 
.header-input{
    position: relative;
}
.header-input__email{
    width: 70%;
    padding: 1rem 1rem;
    border-radius: 28px;
    outline: none;
    border: 1px solid var(--DarkGrayishRed);
    color: var(--DarkGrayishRed);
}

.header-input__button{
    background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    top: 0;
    right: 153px;
    height: 50px;
    width: 80px;
    outline: none;
    border: none;
    border-radius: 28px;
    position: absolute;
}

.header-input__arrow{
    font-size: 4rem;
    z-index: 9999;
}
    /* end hero*/



